.card {
  display: block;
  text-decoration: none;
  background-color: #1C1C1E;
  border-radius: 16px;
  padding: 40px;
  align-self: stretch;
  transition: $transition-value;

  &:hover {
    background-color: #232327;
  }

  @include mobile {
    padding: 20px;
  }

  &__service-name {
    font-weight: 400;
    color: $color-gray;
    font-size: 18px;
    line-height: 18px;
    margin: 0px 0px 20px 0px;

    @include mobile {
      margin: 0px 0px 10px 0px;
    }

    &_warranty_item {
      color: #EAEAF0;
      margin: 0px 0px 38px 0px;

      @include mobile {
        margin: 0px 0px 36px 0px;
      }
    }
  }

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: $color-white;
    margin: 0px 0px 40px 0px;

    @include mobile {
      font-size: 24px;
      line-height: 32px;
      margin: 0px 0px 28px 0px;
    }
  }

  &__text {
    font-size: 32px;
    line-height: 40px;
    color: $color-gray;

    @include mobile {
      font-size: 12px;
      line-height: 18px;
      margin: 0px 0px 100px 0px;
    }

    &_warranty_item {
      font-size: 15px;
      line-height: 19px;
      color: $color-gray;
      margin: 0;

      @include mobile {
        margin: 0;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  &__price {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $color-green;
    margin: 0;

    @include mobile {
      font-size: 12px;
      line-height: 18px;
    }
  }
}