.header {
  display: flex;
  width: 100%;
  max-width: 1240px;
  box-sizing: border-box;
  padding: 60px 66px 0px;
  align-items: center;
  gap: 20px;

  @include mobile {
    padding: 24px 20px 0px;
  }

}