.photo-grid {
  width: 100%;
  box-sizing: border-box;
  max-width: 1440px;
  padding: 120px 30px 0px;
  display: grid;

  @include desktop {
    padding: 52px 60px 0px;
  }

  @include tablet {
    padding: 40px 20px 0px;
  }

  &__first-row {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 448px 1fr;
    margin: 0px 0px 20px 0px;

    @include tablet {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 67px;
    }
  }

  &__second-row {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 730px;

    @include desktop {
      grid-template-columns: 1fr 455px;
    }

    @include tablet {
      grid-template-columns: 1fr;
      grid-template-rows: 124px 1fr;
    }
  }

  &__item {
    border-radius: 10px;

    &_photo_camera-name {
      width: 100%;
      max-width: 448px;
      height: auto;

      @include tablet {
        max-width: 100%;
      }
    }

    &_background_yellow {
      background-color: #FFD233;
    }

    &_background_green {
      background-color: #25E197;
    }

    &_photo_camera {
      width: 100%;
      max-width: 730px;
      height: auto;
    }
  }
}