.services {
  width: 100%;
  max-width: 1240px;
  box-sizing: border-box;
  padding: 120px 60px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @include desktop {
    flex-direction: column;
  }

  @include mobile {
    padding: 70px 20px 0px;
  }

  &__card {
    width: 100%;
    max-width: 550px;

    @include tablet {
      max-width: 648px;
    }
  }
}